{% extends 'baseCart.html.twig'%}
{% block title %}<title>Error</title> {% endblock %}
{% block body %}


            <!-- Begin Blog Blockquote Area -->
                <div class="li-blog-blockquote">
                    <h3 class="li-blog-heading pt-25"><a href="#"></a></h3>
                    <blockquote>
                        <p><h4>Reclamation not fixed yet </h4></p>
                    </blockquote>
                </div>
            <!-- Blog Blockquote Area End Here -->

{% endblock %}