{% extends 'baseFront.html.twig' %}


{% block title %}<title>ProTECH | Reset Password</title> {% endblock %}
{% block body %}
                <!-- Begin Mobile Menu Area -->
                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area End Here -->
            </header>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{{path('home')}}">Home</a></li>
                            <li class="active">Reset Password</li>
                           </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Login Content Area -->
                            <div class="page-section mb-60">
                                <div class="container">             
                                       
                                            <div class="login-form">
                                                <h4 class="login-title">Reset Password</h4>
                                                           
                                                        {{ form_start(requestForm) }}
                                                        {{ form_row(requestForm.Email) }}
                                                        <div>
                                                            <small>
                                                                Enter your email address and we will send you a
                                                                link to reset your password.
                                                            </small>
                                                        </div>
                                           <div class="col-md-12">
                                            <button class="register-button mt-0">Send password reset email</button>
                                            </div>
                                        {{ form_end(requestForm) }}
                                 </div>
                            </div>
                        </div>
                    </div>
              
            <!-- Login Content Area End Here -->
         {% endblock %}